name: PR check [reactive_form_annotation]
on:
  pull_request:
    branches:
      - master
      - develop
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  pr-check-reactive_form_annotation:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:3.3.10

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: reactive_forms_annotations => analyze
        run: cd packages/reactive_forms_annotations && flutter pub get && flutter analyze

      - name: reactive_forms_annotations => code formatting
        run: cd packages/reactive_forms_annotations && flutter pub get && flutter format --set-exit-if-changed lib