name: PR check [reactive_form_annotation]
on:
  pull_request:
    branches:
      - master
      - develop
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  pr-check-reactive_form_annotation:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.29.0
          channel: stable
          cache: true
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: reactive_forms_annotations => analyze
        run: cd packages/reactive_forms_annotations && flutter pub get && flutter analyze --no-fatal-infos

      - name: reactive_forms_annotations => code formatting
        run: cd packages/reactive_forms_annotations && flutter pub get && dart format --set-exit-if-changed lib