name: PR check [reactive_form_generator] test
on:
  pull_request:
    branches:
      - master
      - develop
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  pr-check-reactive_form_generator-test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.27.4
          channel: stable
          cache: true
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: reactive_forms_generator => Code generation tests
        run: cd packages/generator_tests && flutter pub get && dart test && cd ../